@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    color: #C1C8E4;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    align-items: center;
    width: fit-content;
    padding: 1rem 2rem;
    margin-top: 3rem;
    justify-content: center;
    display: inline-flex;
}
.info {
    max-width: 400px;
    align-items: center;
    margin-right: 2rem;
}
.info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.info h3 {
    font-size: 1.45rem;
    margin-bottom: 1rem;
}
.info p {
    margin-bottom: 3rem;
    font-size: 1.25rem;
}
.me-image {
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
.home-image {
    max-width: 400px;
    height: auto;
    position: relative;
    align-items: center;
    justify-content: center;
}
.underlined {
    text-decoration: #5680E9 underline;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
}
@media (width < 800px) {
    .intro {
        width: 75%;
    }
}
@media (width < 500px) {
    .intro {
        width: 50%;
        display: flex;
    }
    .info {
        width: 50%;
    }
    .info h1 {
        font-size: 2rem;
    }
    .info h3 {
        font-size: 1rem;
    }
    .info p {
        height: 50%;
        font-size: 1rem;
    }
    .home-image {
        max-width: 200px;
    }
}