@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    color: #C1C8E4;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
.intro {
    max-width: 1500px;
    align-items: center;
    display: flex;
    padding: 1rem 2rem;
    margin: 0rem;
    justify-content: center;
}
.info {
    width: 600px;
    align-items: center;
}
.info h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.info p {
    margin-bottom: 3rem;
    font-size: 1.25rem;
}
.me-image {
    width: 600px;
    display: flex;
    justify-content: center;
}
.home-image {
    max-width: 300px;
    height: auto;
    position: relative;
    display: flex;
}