@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* navbar.css */

nav {
    width: 100%;
    padding: 15px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures proper spacing */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 20px;
}

/* Empty div to push .pages to center */
.spacer {
    flex: 1;
}

.pages {
    display: flex;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 28px;
    transition: color 0.3s ease-in-out;
}

.link:hover {
    color: #5680E9
}

.icons {
    display: flex;
    justify-content: flex-end;
    flex: 1; /* Pushes it to the far right */
}

.socials {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.socials li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials a {
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease-in-out;
}

.socials ul:hover {
    color: #5680E9 underline !important;
    transition: all 0.3s ease;
}

.social-media {
    font-size: 24px;
    display: inline-block;
    width: 50px;
    height: 50px;
}