nav {
    color: #C1C8E4;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem 1rem;
    margin: auto;
    width: 100%;
}
ul {
    list-style: none;
}
.link {
    gap: 2rem;
}
.pages {
    font-size: 2rem;
    font-weight: bold;
}
.social-media {
    width: 50px;
}