@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
  color: white;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
.main {
  min-height: 100vh;
}
